@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  scroll-behavior: smooth !important;
} */

::selection {
  background-color: #53b175;
  color: #fff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 0.8s ease-out forwards;
}
